/* Colors ------------------------------------------------------------------ */
@color_text: #003339;
@color_bg: #233272;
@color_bg_tab: #97d0e3;
@color_bg_content: #D6F2EF;
@color_bg_content_inner: #D1EBEA;
@color_nav_link: #bfeef6;
@color_shadow_input: #b9b7ba;
@color_shadow_content: rgba(0,0,0,.2);
@color_shadow_content_inner: rgba(0,0,0,.2);

/* Sizes ------------------------------------------------------------------- */
@size_content_radius: .5em;

/* General ----------------------------------------------------------------- */
* {
		/* apply a natural box layout model to all elements */
		   -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
		
		/* set the base font */
		font-size: 100%;
		font-family: Arial, Verdana, Helvetica, sans-serif; 
}

a {
	color: inherit;
}

/*input {
	-webkit-appearance: none;
}*/

body {
	background-color: @color_bg;
	padding: 0;
	margin: 0;
}

body > .wrapper {
	width: 88.671875%; /* 980/1024*100 */
	max-width: 980px;
	margin: 0 auto;
	padding: .5em 0 0 0;
}

/* Header ------------------------------------------------------------------ */
header {
	overflow: auto;
	color: #fff;
	margin: 0 0 1.1em 0;
}
header p {
	margin: 0;
	padding: .2em 0;
	font-size: .8em;
}
header > nav {
	float: right;
}
header > nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header > nav li {
	float: left;
}
header > nav li > a {
	font-size: 1.1em;
	display: block;
	color: @color_nav_link;
	/*font-weight: bold;*/
	text-decoration: none;
	border-left: solid 2px @color_nav_link;
	padding: 0 .5em;
}
header > nav li:first-child > a {
	border-left: none;
	padding-left: 0;
}
header > nav li > a:hover {
	text-decoration: underline;
}
header > form {
	float: left;
}
header > form label {
	display: none;
}
header > form input {
	border-radius: 5px;
	border: none;
	padding: .25em .5em;
	width: 208px;
	-webkit-box-shadow: inset 3px -3px 9px 0px @color_shadow_input;
	-moz-box-shadow: inset 3px -3px 9px 0px @color_shadow_input;
	box-shadow: inset 3px -3px 9px 0px @color_shadow_input;
}

	/* Alternative header */
	header.alt nav {
		float: left;
	}
	header.alt form {
		float: right;
	}
	header.alt form label {
		display: inline-block;
		width: 8em;
		text-align: right;
	}
	header.alt form input[type=submit] {
		float: right;
	}

/* Intro -------------------------------------------------------------------- */
.intro-flow {
	display: block;
	margin: 0 auto;
}

/* Contents ----------------------------------------------------------------- */
.content {
	color: @color_text;
}
.content-wrapper {
	margin: 0;
	padding: .5em;
	width: 100%;
	
	background-color: @color_bg_content;
	border-radius: @size_content_radius;
	-webkit-box-shadow: 3px 0px 9px 0px @color_shadow_content;
	-moz-box-shadow: 3px 0px 9px 0px @color_shadow_content;
	box-shadow: 3px 0px 9px 0px @color_shadow_content;
}

.content-inner {
	background-color: @color_bg_content_inner;
	border: solid 1px #e2f4f6;
	border-radius: @size_content_radius;
	padding: 1em;
	-webkit-box-shadow: inset 0 0 9px @color_shadow_content_inner;
	-moz-box-shadow: inset 0 0 9px @color_shadow_content_inner;
	box-shadow: inset 0 0 9px @color_shadow_content_inner;
	min-height: 500px;
}

/* Tabs -------------------------------------------------------------------- */
.tabs {
	list-style: none;
	padding: 0 0 0 .25em;
	margin: 0;
	overflow: auto;
}
.tabs li {
	float: left;
	padding: .5em 0;
	margin: 0 .25em;
	width: 165px;
	text-align: center;
	background-color: @color_bg_tab;
	border-radius: @size_content_radius @size_content_radius 0 0;
}
.tabs li.active {
	background-color: @color_bg_content;
}
.tabs li a {
	font-weight: bold;
	text-decoration: none;
	color: @color_text;
}

/*
.content {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: visible;
}

ul.tabset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabset > li {
	margin-top: 3em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.tabset > li.active {
	background-color: @color_tab_active;
	z-index: 2;
}

.tabset > li h2 {
	height: 2.5em;
	display: block;
	padding: .5em 0;
	width: 165px;
	text-align: center;
	background-color: @color_bg_content;
	border-radius: @size_tab_radius @size_tab_radius 0 0;
	position: absolute;
	top: -3em;
	left: .5em;
	font-size: .9em;
	font-weight: bold;
}

.tabset > li:nth-child(3) h2 {
	left: 18.836734693878%; /* (16.836734693878)+2 * /
}

.tabset > li:nth-child(4) h2 {
	left: 37.673469387756%; /* (16.836734693878*2)+2 * /
}

.tabset > li:nth-child(5) h2 {
	left: 52.510204081634%; /* (16.836734693878*3)+2 * /
}

.tabset > li > div {
	background-color: #c3e9f4;
	border: solid 1px #e2f4f6;
	border-radius: @size_tab_radius;
	padding: 1em;
	-webkit-box-shadow: inset 0 0 9px @color_tab_shadow_inner;
	-moz-box-shadow: inset 0 0 9px @color_tab_shadow_inner;
	box-shadow: inset 0 0 9px @color_tab_shadow_inner;
	min-height: 500px;
}
*/

/* Online help ------------------------------------------------------------- */
.online-help {
	background-color: @color_bg_content;
	color: #fff;
	display: block;
	border-radius: 50%;
	width: 8.979591836735%; /* 88/980*100 */
	height: 0;
	padding-bottom: 7.979591836735%;
	padding-top: 1%;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	
	-moz-transform: scale(1) rotate(90deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(1) rotate(90deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(1) rotate(90deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(1) rotate(90deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1) rotate(90deg) translate(0px, 0px) skew(0deg, 0deg);
	
	position: fixed;
	right: 2.27421875%; /* (1024-980)/4/1024*100 */
	top: 12em;
}

/* Alternative look switcher */
.style-switches {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #fff;
}