<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Jubilee</title> 
    <link rel="stylesheet" type="text/css" href="/css/snn.css">
  </head> 
  <body id="body">
    <div id="main"> 
      {% block main %}
      <div id="content-container"> 
        <div id="content"> 
          {% block content %}

<form method="post">
<fieldset>
<legend>Category Data</legend>
{{ form.as_p }}
<p class="submit"><input type="submit" value="Submit" /></p>
</form>


          {% endblock %}            
        </div>
        <div id="sidebar"> 
          {% block sidebar %}
          {% endblock %}            
        </div>
      </div>
      {% endblock %}            
    </div>
    <div id="footer">
      Hans Then: Pythea: Jubilee
    </div>
  </body>
</html>
