<p><strong>U heeft nog niet al uw schuldeisers benaderd.</strong></p>
<p><em>Schuldeisers met een e-mail adres.</em></p>
Klik hier om uw schuldeisers een mail te sturen.
<a href="{{base_url}}/mailcreditors">[Mail]</a>

<p><em>Van niet al uw schuldeisers hebben wij een e-mail adres.</em></p>
Klik hier om een brief te printen aan uw schuldeisers. Deze brief wordt getoond in een nieuw scherm.
<a href="{{base_url}}/printcreditorletters" target="_popup">[Print]</a>

<p><em>Van een aantal schuldeisers hebben wij helemaal geen adres gegevens.</em></p>
Neem contact op met uw maatschappelijk werker om dit op te lossen.

<table class="creditor-legenda">
<tr>
  <td class="title" colspan="2">Vraag schuldbewijzen aan bij alle schuldeisers:</td>
</tr>
<tr>
  <td class="new">
    <span class="status">
      <span></span>
    </span>
  </td>
  <td>= Nog geen schuldbewijs aangevraagd.</td>
</tr>
<tr>
  <td class="waiting">
    <span class="status">
      <span></span>
    </span>
  </td>
  <td>= Brief/fax/e-mail naar schuldeiser verstuurd.</td>
</tr>
<tr>
  <td class="complete">
    <span class="status">
      <span></span>
    </span>
  </td>
  <td>= Definitieve brief van schuldeiser binnen.</td>
</tr>
<tr>
  <td colspan="2" class="title">Kies een schuldeiser en voer een actie uit:</td>
</tr>
<tr>
  <td><img src="/images/sturen.png"></td>
  <td>= Verstuur brief/fax/e-mail naar schuldeiser.</td>
</tr>
<tr>
  <td><img src="/images/ontvangen.png"></td>
  <td>= Schuldbewijs binnen!</td>
</tr>
</table>
