<div id="message">Als u een overzicht heeft ontvangen van uw schuldeiser, kunt u dit hieronder invullen</div>
<form method="post" action="{{self.request.path}}">
{% if self.user.class_name == 'Client' %}
<a href="/client/debts">[&lt;]</a>
{% else %}
<a href="/employee/cases/view/{{creditor.user.key}}">[&lt;]</a>
{% endif %}

{{ creditor.creditor.display_name }} 
<input type="hidden" name="creditor" value="{{creditor.key.id}}">
<table>
 <tr><th>Deurwaarder</th><th>Ontstaansdatum</th><th>Dossiernummer Schuldeiser</th><th>Openstaand bedrag</th><th>Afbetalingsregeling</th>
 </tr>
{% for debt in creditor.debts %}
 <tr>
		  <td>{{debt.collector.display_name}}</td> 
		  <td>{{debt.original_date|date:"d-m-Y"}}</td>
		  <td>{{debt.creditor_dossier_number}}</td>
		  <td>{{debt.amount}}</td>
		  <td>{{debt.payment_amount}}</td>
 </tr>
{% endfor %}
  <tr>
	<td colspan="7">
	   {% if form.non_field_errors %}
		  {{ form.non_field_errors }}<br>
	   {% endif %}
	   {% for field in form %}
		  {{ field.errors }} 
	   {% endfor %}
	<td>
  </tr>
  <tr>
	{% if not selected %}
    <td><a href="/client/debts/creditor/select?is_collector={{creditor.creditor.is_collector}}&come_from={{creditor.key.id}}" 
           target="_popup">Zoek</a>
        <input type="hidden" name="selected" value="{{selected.key.id}}"></td>
	{% else %}
    <td><a href="/client/debts/creditor/select?is_collector={{creditor.creditor.is_collector}}&come_from={{creditor.key.id}}" 
           target="_popup">{{selected.display_name}}</a>
        <input type="hidden" name="selected" value="{{selected.key.id}}"></td>
	{% endif %}
	<td>{{form.original_date}}</td>
	<td>{{form.creditor_dossier_number}}</td>
	<td>{{form.amount}}</td>
	<td>{{form.payment_amount}}</td>
	<td><input type="submit"></td>
 </tr>
</table>
</form>
