<p>
  <strong class="name"><a href="{{base_url}}/creditor/{{creditor.creditor.key.id}}/edit">
  {{ creditor.creditor.display_name }}</a>
  </strong><br>
  {{ creditor.creditor.phone|default:" " }}
</p>
<p>
  <span class="label">Actie: </span>
  <a href="/client/previewletter/{{creditor.key.id}}" class="action preview" target="_popup">Open brief</a>
  {% if self.user.class_name == 'SocialWorker' %}
  <a href="{{base_url}}/creditor/{{creditor.key.id}}/approve" class="action approve">Keur goed</a>
  {% endif %}
  <a href="{{base_url}}/view/{{creditor.key.id}}" class="action response">Verwerk reactie</a>
  <a href="/client/creditors/delete/{{creditor.key}}?base_url={{base_url}}" class="action delete">Delete</a>
</p>
<form method="post" action="/client/debts/creditor/{{creditor.key.id}}/actions" class="add-annotation">
  <input type="hidden" name="come_from" value="{{self.request.path}}">
  <textarea name="text" id="creditor_annotation" placeholder="Voeg een aantekening toe"></textarea>
  <input type="submit" value="Opslaan">
</form>

<div class="annotations">
{% for note in annotations %}
<p>
  <strong>{{note.entry_date|date:"d-m-Y"}}</strong><a class="delete-annotation" href="/client/debts/annotations/{{note.key}}/delete?come_from={{self.request.url}}">[x]</a><br>
  {% if note.author.key != self.user.key %}
  <em>{{note.author.first_name}} {{note.author.last_name}}</em><br>
  {% endif %}
  <span>{{note.text}}</span> 
</p>
{% empty %}
Geen commentaar
{% endfor %}
</div>
