<div id="message">
    U kunt nu de antwoorden van uw schuldeisers verwerken.
</div>    
<div class="file-setup debt-overview">
  <h2>Schuldeisers</h2>
  <ul class="creditor-overview">
  {% for cred in client.creditors %}
    <li class="{{cred.status|lower}}">
      <a href="{{base_url}}/creditor/{{cred.key.id}}">
        <img src="{{ cred.creditor.icon}}" alt="" width="16" height="16">&nbsp;{{ cred.creditor.display_name }}
        <span class="status"><span></span></span>
        <span class="action {{cred.status.action}}"><span class="status-text">{{cred.status.action}}</span></span>
        <span class="status {{cred.status}}"><span><span class="status-text">{{cred.status}}</span></span>
      </a>
    </li>
  {% endfor %}
  </ul>
  {% ifequal client.status.status "COMPLETE" %}
     <a href="{{base_url}}/close">[afsluiten]</a>
     <a href="{{base_url}}/print" target="_popup">[print dossier]</a>
  {% else %}
  {% endifequal %}
  <div class="creditor-details" id="creditor-details">
      {% include "clientdebtscreditoractions.html" %}
  </div>
</div>

