<div id="message">Als u een overzicht heeft ontvangen van uw schuldeiser, kunt u dit hieronder invullen</div>
<form method="post" action="{{self.request.path}}" class="client-debts-form">
<!--
    <div style="float:right">
{% if self.user.class_name == 'Client' %}
  <a href="/client/debts/creditor/{{creditor.key}}/response">
{%else %}
  <a href="/employee/cases/view/{{client.key}}/creditor/{{creditor.key.id}}/approve?base_url={{base_url}}" class="action approve">
{% endif %}
        {% if creditor.has_attachments %}
        Ik heb al een schuldbewijs
        {% else %}
        Voeg een schuldbewijs toe.
        {% endif %}
        </a>
    </div>
-->
<!--
    <p>
         <label id="stc">Datum brief</label>
        {{form.response_date}}
        {{form.response_date.errors}}
       

        <div>
        <label id="stc">Deurwaarder:</label>

        <a href="/client/debts/creditor/select" target="_popup">{{debt.collector.display_name|default:'<input type="text" id="tbt">'}}<input type="hidden" name="collector" value="{{debt.collector.key.id}}"></a><br>
        <!--
        Schuld bij: <strong>{{ creditor.creditor.display_name }}</strong><br>
        -->
<!--
        {% if creditor.creditor.is_collector %}

        <label>Vorige schuldeiser:</label>
        <a href="/client/debts/creditor/select" target="_popup">{{debt.collected_for.display_name|default:'<input type="text" id="tbu">'}}<input type="hidden" name="collected_for" value="{{debt.collected_for.key.id}}"></a>
        <br>
        {% endif %}
        </div>
    </p>
-->
<br />
Schuld bij: <strong>{{ creditor.creditor.display_name }}</strong><br>
<br />
        <table>
            <tr>
                <td><label>Datum brief</label></td>
                <td>{{form.response_date}}</td>
                <td>{{form.response_date.errors}}</td>
            </tr>
            <tr>
                <td><label>Deurwaarder</label></td>
                <td><a href="/client/debts/creditor/select" target="_popup">{{debt.collector.display_name|default:'<input type="text" id="tbt">'}}<input type="hidden" name="collector" value="{{debt.collector.key.id}}"></a></td>
                <td></td>
            </tr>
            {% if creditor.creditor.is_collector %}
                <tr>
                <td><label>Vorige schuldeiser</label></td>
                <td><a href="/client/debts/creditor/select" target="_popup">{{debt.collected_for.display_name|default:'<input type="text" id="tbu">'}}<input type="hidden" name="collected_for" value="{{debt.collected_for.key.id}}"></a></td>
               
                <td></td>
            </tr>{% endif %}

            <tr>
                <td><label>Dossiernummer</label></td>
                <td>{{form.creditor_dossier_number}}</td>
                <td>{{form.creditor_dossier_number.errors}}</td>
            </tr>
            <tr>
                <td><label>Openstaand bedrag</label></td>
                <td>{{form.amount}}</td>
                <td>{{form.amount.errors}}</td>
            </tr>
            <tr>
                <td><label>Ontstaansdatum</label></td>
                <td>{{form.original_date}}</td>
                <td>{{form.original_date.errors}}</td>
            </tr>
            <tr>
                <td><label>Afbetalingsregeling</label></td>
                <td>{{form.payment_amount}}</td>
                <td>{{form.payment_amount.errors}}</td>
            </tr>
        </table>
    <p class="submit">
        <input type="button" value="&laquo; Terug" class="app-control" onclick="$.address.value($.address.value().replace('/view','/creditor'));">
    <input type="submit" value="Verder &raquo;">
    </p>
    <input type="submit" value="Toevoegen">

</form>
<div class="debts-listing">
    <table id="tbldebt">
        <tr>
            <th style="display: none;">ID</th>
            <th>Deurwaarder</th>
            <th>Schuldeiser</th>
            <th>Ontstaansdatum</th>
            <th>Openstaand bedrag</th>
            <th>Datum brief</th>
            <th>Dossiernummer</th>
            <th>Afbetalingsregeling</th>
        </tr>
{% for debt in creditor.debts %}
        <tr>
            <td style="display:none;"><a id="tautan" href="{{base_url}}/debt/{{debt.key.id}}">{{debt.key.id}}</td>
            <td>{{debt.collector.display_name|default:"--"}}</td>
            <td>{{debt.collected_for.display_name|default:"--"}}</td>
            <td class="date">{{debt.original_date|date:"d-m-Y"}}</td>
            <td class="amount">&euro; {{debt.amount|default:""}}</td>
            <td class="date">{{debt.response_date|date:"d-m-Y"}}</td>
            <td class="dossier">{{debt.creditor_dossier_number|default:""}}</td>
            <td class="amount">&euro; {{debt.payment_amount|default:""}}</td>
        </tr>
{% endfor %}
    </table>
</div>

<script>
    $("#tbldebt tbody tr").click(function(e){ 
        var satu = $(this).find('#tautan');
        var tujuan = satu.attr("href");

        window.location = "#"+tujuan;
        e.stopPropagation();
    });
</script>

