<p><strong>U heeft nog niet al uw schuldeisers benaderd.</strong></p>
Klik hier om uw schuldeisers een brief te sturen.
<a href="/client/creditors/validate">[Verstuur brief]</a>

<table class="creditor-legenda">
<tr>
  <td class="title" colspan="2">Vraag schuldbewijzen aan bij alle schuldeisers:</td>
</tr>
<tr>
  <td class="new">
    <span class="status">
      <span></span>
    </span>
  </td>
  <td>= Nog geen schuldbewijs aangevraagd.</td>
</tr>
<tr>
  <td class="waiting">
    <span class="status">
      <span></span>
    </span>
  </td>
  <td>= Brief/fax/e-mail naar schuldeiser verstuurd.</td>
</tr>
<tr>
  <td class="complete">
    <span class="status">
      <span></span>
    </span>
  </td>
  <td>= Definitieve brief van schuldeiser binnen.</td>
</tr>
<tr>
  <td colspan="2" class="title">Kies een schuldeiser en voer een actie uit:</td>
</tr>
<tr>
  <td><img src="/images/sturen.png"></td>
  <td>= Verstuur brief/fax/e-mail naar schuldeiser.</td>
</tr>
<tr>
  <td><img src="/images/ontvangen.png"></td>
  <td>= Schuldbewijs binnen!</td>
</tr>
</table>
