<div id="message">Voeg een scan of foto toe van uw schuldbewijs</div>
<ul>
{% for attachment in creditor.attachments %}
  <li> <a href="/client/attachment/embedded/{{attachment.item.key}}">{{attachment.item.filename}}</a></li>
{% endfor %}
</ul>
<form method="post" action="{{upload_url}}" target="_other" enctype="multipart/form-data">
   <input id="upload" name="upload" type="file" multiple="true"></input>
<div class="submit">
  <div>
    <input type="submit" value="Sla op">
  </div>
</div>
</form>
