<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Jubilee</title> 
  </head> 
  <body id="body">
    <div id="main"> 
      <div id="content-container"> 
        <div id="content"> 
            <a href="/client/creditors/new">Voeg een nieuwe crediteur toe</a>
            <form method="post" action="{{self.request.url}}">
            {{category}}
            <div id="creditors">
              <input type="hidden" name="klaar" 
                     value="klaar">
              <ul>
                {% for company in creditors %}
	          <li>
                      <input type="checkbox" name="selected" class="check"
                             value="{{company.key.id}}"
                             {% if company.selected %} checked {% endif %}> &nbsp;
                      <input type="hidden" name="visible" 
                             value="{{company.key.id}}">
                      <img src="{{company.icon}}" width="16" height="16"> {{ company.display_name }} 
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div id="categories">
              <ul>
                {% for category in categories %}
                  <li><a href="{{self.request.path}}?category={{category.label}}">{{category.label}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div id="selected">
              <ul>
                {% for creditor in user.creditors %}
                  <li>
                      <img src="{{creditor.creditor.icon}}" width="16" height="16"> {{ creditor.creditor.display_name }} 
                  </li>
                {% endfor %}
              </ul>
            </div>
            <input type="submit" value="klaar">
            <input type="submit" value="klaar">
            </form>
        </div>
      </div>
    </div>
  </body>
</html>
