<form method="post" enctype="multipart/form-data">

<table>

<tr><td colspan=2></td></tr>
<tr><th><label for="id_first_name">First name:</label></th><td><input type="text" name="first_name" value="Isabelle" id="id_first_name" /></td></tr>
<tr><th><label for="id_last_name">Last name:</label></th><td><input type="text" name="last_name" value="Then" id="id_last_name" /></td></tr>
<tr><th><label for="id_email">Email:</label></th><td><input type="text" name="email" value="irpl@gmail.com" id="id_email" /></td></tr>
<tr><th><label for="id_photo">Photo:</label></th><td><input type="file" name="photo" id="id_photo" /></td></tr>
<tr><th><label for="id_password1">Password1:</label></th><td><input type="password" name="password1" id="id_password1" /></td></tr>
<tr><th><label for="id_password2">Password2:</label></th><td><input type="password" name="password2" id="id_password2" /></td></tr>

</table>
<p class="submit"><input type="submit" value="Submit" /></p>
</form>