<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Jubilee</title> 
  </head> 
  <body id="body">
    <div id="main"> 
      {% block main %}
      <div id="content-container"> 
        <div id="content"> 
            <form method="post">
            Dossier voor: {{ client.first_name }} {{ client.last_name }}<br>
            <table>
            {% for creditor in client.creditors %}
     	          <tr>
                      <td><img src="{{ creditor.creditor.icon}}" alt="" width="16" height="16"></td>
                      <td>{{ creditor.creditor.display_name}}</td>
                  </tr>
            {% endfor %}
            </table>
            <input type="submit" name="submit" value="approve">
            </form>
        </div>
        <div id="sidebar"> 
          {% block sidebar %}
          <div id="categories">
          {% for topcategory in topcategories %}
          <a class="topcategory"> {{ topcategory.label }} 
              <div>
              {% for sub in topcategory.categories %}
              <a class="subcategory" href="/crediteuren/{{sub.key.id_or_name}}"> {{ sub.label }} </a><input type="checkbox" value="sub"><br>
              {% endfor %}
              </div>
          </a>
          {% endfor %}          
          </div>
          {% endblock %}            
        </div>
      </div>
      {% endblock %}            
    </div>
    <div id="footer">
      {{ user.firstname }} {{ user.lastname }} : Pythea
    </div>
  </body>
</html>
