<div id="message">De gebruiker heeft het volgende schuldbewijs toegevoegd</div>
<ul>
{% for attachment in creditor.attachments %}
  <li> <a href="/client/attachment/embedded/{{attachment.item.key}}">{{attachment.item.filename}}</a></li>
{% endfor %}
</ul>
<form method="post" action="{{self.request.path}}">
<div class="submit">
  <textarea name="comment"></textarea>
  <div>
    <input type="submit" value="Keur goed" data-set-value="action=keur goed">
    <input type="submit" value="Keur af" data-set-value="action=keur af">
  </div>
</div>
</form>
