       <div id="content"> 
            <form method="post" action="{{self.request.path}}">
            {{ organisation.display_name }}<br>
            Overzicht van medewerkers
            <table border="1">
            {% for employee in employees %}
	         <tr>
                      <td><input type="checkbox" name="selected" value="{{employee.key.id_or_name}}"></td>
                      <td><a href="/organisation/employees/edit/{{employee.key}}">{{ employee.first_name }} {{ employee.last_name }}</a></td> 
                      <td><a href="/organisation/employees/resize/{{employee.key}}"><img src="/employee/photo/{{employee.key}}" width="124px" height="155px"></a></td> 
                 </tr>
            {% empty %}
                 Empty
            {% endfor %}
            </table>
            <input type="submit" name="action" value="Create">
            <input type="submit" name="action" value="Delete">
            </form>
        </div>
