            <form method="post" action="{{self.request.path}}">
            {{ organisation.display_name }}<br>
            <div id="message">Overzicht van medewerkers</div>
            <table border="0">
            {% for employee in employees %}
	         <tr>
                      <td><input type="checkbox" name="selected" value="{{employee.key.id_or_name}}"></td>
                      <td><a href="/organisation/employees/edit/{{employee.key}}">{{ employee.first_name }} {{ employee.last_name }}</a></td>
                      <td>
                          {% if employee.photo %} <a href="/organisation/employees/resize/{{employee.key}}">
                            <img src="/employee/photo/{{employee.key}}" width="124px" height="155px">
                          </a>
                          {% else %}
                            <img src="/employee/photo/{{employee.key}}" width="124px" height="155px">
                          {% endif %}
                      </td>
                 </tr>
            {% empty %}
                 Empty
            {% endfor %}
            </table>
            <input type="submit" name="action" value="Create" class="app-control">
            <input type="submit" name="action" value="Delete" class="app-control">
            </form>