<form method="post" class="form-generiek" action="{{self.request.path}}" enctype="multipart/form-data">

<table>
{% for form in forms %}
<tr><td colspan=2><div id="message">{% firstof message form.title %}</div></td></tr>
    <tbody class="{{form.is_bound|yesno:'posted,unposted'}} {{form.instance|yesno:'instance,free'}} {{form.readonly|yesno:'readonly,'}}">
    {{ form.as_table }}
    </tbody>
{% endfor %}

</table>

{% if not form.is_valid %}
<br>
Als u een maatschappelijk werker bent is uw gebruikersnaam gelijk aan uw e-mail adres.  <br>
Als u hulp zoekt met uw schulden, dan is uw gebruikersnaam waarschijnlijk <i>voornaam.achternaam</i>.
<br>
<br>
Als u uw wachtwoord bent vergeten, kunt u dit <a href="/reset">hier</a> herstellen.

{% endif %}

<p class="submit"><input type="submit" value="{{submit|default:'opslaan'}}" /></p>
</form>
