<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
	<meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
	<meta name="robots" content="index, follow">
	<title>Schuldendossier</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/jquery.address-1.4.min.js"></script>
	<script src="js/jquery.tinyscrollbar.js"></script>
	<script src="js/levi-2.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
		    <nav>
				<p>Informatie over <strong>schuldendossier.nl</strong> voor:</p>
				<ul>
					<li><a href="/info/clienten.html">Cliënten</a></li><!-- link to info page -->
					<li><a href="/info/maatschappelijkwerk.html">Hulpverleners</a></li><!-- link to info page -->
					<li><a href="/info/gemeenten.html">Gemeenten</a></li><!-- link to info page -->
					<li><a href="#">Schuldeisers</a></li><!-- link to info page -->
				</ul>
			</nav>
        {% if self.user %}
        <p id="login">{{self.user.first_name}} {{ self.user.last_name}}</p>
        <a href="/logout" target="_top">logout</a>
        {% else %}
			<form method="post" action="/login" id="login" target="_top">
				<p>
				    <label for="userid">Gebruikersnaam</label>
				    <input id="userid" name="userid" type="text">
				</p>
				<p>
				    <label for="password">Wachtwoord</label>
				    <input id="password" name="password" type="password">
				</p>
				<p>
					<input type="submit" value="Log in">
				</p>
            </form>
        {% endif %}
		</header>

		<section class="content">
        {% if self.user %}
        <ul class="tabs" id="tabs">
            {% for tab in self.user.tabs %}
            <li><a href="{{tab.0}}">{{tab.1}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <ul class="tabs" id="tabs">
            <li><a href="/info/clienten.html">Info</a></li>
            <li><a href="/info/werkwijze.html">Werkwijze</a></li>
            <li><a href="/client/register">Aanmelden</a></li>
        </ul>
        {% endif %}
			<div class="content-wrapper">
				<div class="content-inner">
                    <p id="appstatus" class="appstatus">{{message|default:"&nbsp;"}}</p>
					<div id="content"></div>
				</div>
			</div>
		</section>
	</div>
	<div id="popup" class="popup">
      <div class="popup-wrapper">
		<a href="#" class="popup-close">[close]</a>
		<div class="popup-content">My content</div>
      </div>
	  <div class="overlay"></div>
	</div>
</body>
</html>
