<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
	<meta name="robots" content="index, follow">
	<title>Schuldendossier</title>
</head>
<body>
Uw browser kan (nog) niet gebruikt worden voor www.schuldendossier.nl.<br><br>

U kunt <a href="http://www.mozilla.org/nl/firefox/new/">Firefox</a> of 
<a href="http://www.google.com/intl/nl/chrome/browser/">Chrome</a> gebruiken.

</body>
</html>
