{% if preview %}
<a target="_blank" href="/client/printletter/{{key}}">[PRINT]</a>
   {% if creditor.email %}
      <a target="_close" href="/client/email/{{key}}">[MAIL]</a>
   {% endif %}
{% endif %}
<br><br>

<p>
{{creditor.display_name}}<br>
{{creditor.address|default:""}}<br>
{{creditor.zipcode|default:""}}<br>
{{creditor.city|default:""}}<br>
</p>

<p>{{client.city}}, {{today}}</p>


<p>
<p>Onderwerp : Inventarisatie schulden </p>
</p>

<p>
Geachte heer, mevrouw,
</p>

<p>
Op dit moment ben ik niet in staat aan mijn financiele verplichtingen te voldoen. Ik wil hier op zo kort mogelijke termijn verandering in aanbrengen. Hiervoor is het nodig dat ik de exacte omvang en aard van mijn schuldenpakket kan vaststellen.<br>

Ik verzoek u mij zo snel mogelijk de hoogte van uw netto vordering(en) en de maandelijkse afbetaling(en) door te geven.<br></br>

In afwachting van de reacties van de schuldeisers verzoek ik u eventuele invorderingsmaatregelen op te schorten en mijn schuldenpakket niet verder te verzwaren met rente en/of kosten. Ook verzoek ik u een eventueel beslag op mijn loon en/of uitkering op te schorten.<br><br>

Zodra ik de inventarisatie van mijn schulden heb afgerond, ontvangt u van mij een voorstel tot afbetaling van de vorderingen.<br>
</p>
<p>
In afwachting van uw reactie,<br>
<br>
Hoogachtend,
</p>
<br>

<p>
{{client.first_name}} {{client.last_name}}<br>
{{client.address}}<br>
{{client.zipcode}}<br>
{{client.city}}<br>
{{client.birthdate|default:""}}<br>
{{client.ssn|default:""}}<br>
</p>
